%h1= t('.title')

-#%table
  %thead
    %tr
      %th= t('.floor')
      %th= t('.row')
      %th= t('.column')
      %th
      %th
      %th

  %tbody
    - @spaces.each do |space|
      %tr
        %td= space.floor
        %td= space.row
        %td= space.column

/BASIC CONCEPT
- @spaces.distinct.pluck(:floor).each do |floor|
  %p= t('.floor') + " #{floor}"
  %table.table
    %tbody
      - @spaces.with_floor(floor).distinct.pluck(:row).each do |row|
        %tr
          - @spaces.with_floor(floor).with_row(row).each do |space|
            %td= "#{space.display_space}"

%br
