.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

.container
  .page-header
    %h3= t('.pick_date')
    = form_tag spaces_path, method: "get", :html => { :id => "spaces_search_form" }, class: "form-inline" do
      .form-group
        = label_tag(:date, t('.date'))
        = date_field_tag :date, params[:date]
        = submit_tag t('.submit'), name: nil, class: "btn btn-default btn-xs"
    %br

  .page-header
    %h3= t('.legend')
    %table.table
      %tbody
        %tr
          %td.success= t('.available')
        %tr
          %td.danger= t('.unavailable')

  %h2.text-center= t('.listed_date') + @chosen_date.strftime('%d/%m/%Y')

  - @spaces.distinct.pluck(:floor).each do |floor|
    %h3= t('spaces.index.floor') + " #{floor}"
    %table.table.table-bordered
      %tbody
        %tr
          %td
          - @spaces.with_floor(floor).distinct.pluck(:column).each do |column|
            %td= "#{t('.column')} #{column}"
        - @spaces.with_floor(floor).distinct.pluck(:row).each do |row|
          %tr
            %td= "#{t('.row')} #{row}"
            - @spaces.with_floor(floor).with_row(row).each do |space|
              - if space.is_booked(@chosen_date)
                %td.danger
              - else
                %td.success
