= form_with(model: [@vehicle, @booking], local: true) do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, t('.error'))} #{t('.error_message')}"
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :space, "#{:space.to_s.humanize}:"
    %br
    = f.collection_select :space_id, Space.all, :id, :display_space, class: "form-control"
  .field
    = f.hidden_field :vehicle_id, value: @vehicle.id
  .field.form-group
    = f.label :cost_type, t('.cost_type')
    %br
    = f.collection_select :cost_type_id, CostType.all, :id, :name, class: "form-control"
  .field.form-group
    = f.label :date, "#{:date.to_s.humanize}:"
    %br
    = f.date_select :date, order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year, class: "form-control"
  .actions.form-group
    = f.submit t('.submit'), class: "btn btn-default"
