= form_with(model: [@vehicle, @booking], local: true) do |f|
  - if @booking.errors.any?
    #error_explanation
      %h2= "#{pluralize(@booking.errors.count, t('.error'))} #{t('.error_message')}"
      %ul
        - @booking.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :space
    = f.collection_select :space_id, Space.all, :id, :display_space
  .field
    = f.label :vehicle
    %p= @vehicle.registration_number
    = f.hidden_field :vehicle_id, value: @vehicle.id
  .field
    = f.label :cost_type
    = f.collection_select :cost_type_id, CostType.all, :id, :name
  .field
    = f.label :date
    = f.date_select :date, order: [:day, :month, :year], start_year: Date.today.year, end_year: Date.today.year
  .actions
    = f.submit t('.submit')
