.fill-space

.container.fill-space
  .page-header
    %h1= "#{t('.title')} \"#{@vehicle.registration_number}\""
    %p= t('.description')

  = render 'form'

  %br
  = link_to t('.back'), vehicle_path(@vehicle)
  %br
  %br

.fill-space
