%table.table.table-striped
  %thead
    %tr
      %th= t('spaces.index.floor')
      %th= t('spaces.index.row')
      %th= t('spaces.index.column')
      %th= t('.type')
      %th= t('.price')
      %th= t('.date')
      %th.text-center{:colspan => "2"}= t('.options')

  %tbody
    - @vehicle.bookings.each do |booking|
      %tr{id: "booking_#{booking.id}"}
        %td= booking.space.floor
        %td= booking.space.row
        %td= booking.space.column
        %td= booking.cost_type.name
        %td= number_to_currency(booking.cost_type.price, unit: "£")
        %td= booking.date.strftime('%d/%m/%Y')
        %td.active= link_to t('.edit'), edit_vehicle_booking_path(@vehicle, booking)
        %td.active= link_to t('.destroy'), [@vehicle, booking], method: :delete, data: { confirm: t('.confirmation') }, :remote => true
