.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

.container-fluid.text-center
  .row.content
    .col-sm-3.sidenav
      %h3= t('.sidebar_title')
      %p= t('.learn_more')

      %button.btn.btn-default.btn-block{:id => "home"}= t('.home_heading')
      .container-fluid.hidden{:id => "home-info"}
        %br
        %p= t('.home_info')
      %hr

      %button.btn.btn-default.btn-block{:id => "contact"}= t('.contact_heading')
      .container-fluid.hidden{:id => "contact-info"}
        %br
        %p= t('.contact_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), contact_path
      %hr

      %button.btn.btn-default.btn-block{:id => "my-vehicles"}= t('.my_vehicles_heading')
      .container-fluid.hidden{:id => "my-vehicles-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.my_vehicles_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), vehicles_path
      %hr

      %button.btn.btn-default.btn-block{:id => "pricing"}= t('.pricing_heading')
      .container-fluid.hidden{:id => "pricing-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.pricing_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), pricing_path
      %hr

      %button.btn.btn-default.btn-block{:id => "spaces"}= t('.spaces_heading')
      .container-fluid.hidden{:id => "spaces-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.spaces_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), spaces_path
      %br

    .col-sm-9.text-left
      .container-fluid
        %h1= t('.welcome.heading')
        %p= t('.welcome.message')
        %hr/
        %h1= t('.get_started.heading')
        %h3 Step 1
        %ol
          %li Step 1
          %li Step 2
          %li Step 3
        %h3 Step 2
        %ol
          %li Step 1
          %li Step 2
          %li Step 3
        %h3 Step 3
        %ol
          %li Step 1
          %li Step 2
          %li Step 3
        %h3 Step 4
        %ol
          %li Step 1
          %li Step 2
          %li Step 3
        %h3 Step 5
        %ol
          %li Step 1
          %li Step 2
          %li Step 3

%br
