.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

.container-fluid.text-center.page-content.fill-space
  .row.content
    .col-sm-3.sidenav
      .page-header
        %h1= t('.sidebar_title')
        %p.lead= t('.learn_more')

      %button.btn.btn-default.btn-block{:id => "home"}= t('.home_heading')
      .container-fluid.hidden{:id => "home-info"}
        %br
        %p= t('.home_info')
      %hr

      %button.btn.btn-default.btn-block{:id => "contact"}= t('.contact_heading')
      .container-fluid.hidden{:id => "contact-info"}
        %br
        %p= t('.contact_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), contact_path
      %hr

      %button.btn.btn-default.btn-block{:id => "my-vehicles"}= t('.my_vehicles_heading')
      .container-fluid.hidden{:id => "my-vehicles-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.my_vehicles_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), vehicles_path
      %hr

      %button.btn.btn-default.btn-block{:id => "pricing"}= t('.pricing_heading')
      .container-fluid.hidden{:id => "pricing-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.pricing_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), pricing_path
      %hr

      %button.btn.btn-default.btn-block{:id => "spaces"}= t('.spaces_heading')
      .container-fluid.hidden{:id => "spaces-info"}
        %br
        %p
          %strong= t('.sign_in_note')
        %p= t('.spaces_info')
        %p= t('.visit_page.message')
        = link_to t('.visit_page.link'), spaces_path
      %br

    .col-sm-9.text-left.primary-content
      .container-fluid
        %h1= t('.welcome.heading')
        %p= t('.welcome.message')
        %hr/
        %h1= t('.get_started.heading')

        %h5
          %strong= t('.get_started.step_1.heading')
        %p= t('.get_started.step_1.message')
        %ul
          %li
            = link_to t('.get_started.step_1.sign_up'), new_user_registration_path
          %li
            = link_to t('.get_started.step_1.sign_in'), new_user_session_path

        %h5
          %strong= t('.get_started.step_2.heading')
        %p=t('.get_started.step_2.message')
        %p
          = link_to t('.get_started.step_2.my_vehicles'), vehicles_path

        %h5
          %strong= t('.get_started.step_3.heading')
        %p
          = link_to t('.get_started.step_3.pricing'), pricing_path
        %p
          = link_to t('.get_started.step_3.spaces'), spaces_path

        %h5
          %strong= t('.get_started.step_4.heading')
        %p= t('.get_started.step_4.introduction')
        %p= t('.get_started.step_4.message')
        %p
          %strong= t('.get_started.step_4.note')

      %br
