// Use attributes of the email returned by the mailer to generate view.

.email
  %h3 Received Email

  %hr

  %p= "Dear #{t('app_title')},"
  %p= @message
  %p Could you get in touch with me please?
  %p My details are:

  %table
    %tr
      %td Name:
      %td= @name
    %tr
      %td Email:
      %td= @email
    %tr
      %td Telephone:
      %td= @telephone

  %p Thanks,
  %p= @name.split[0]

  %hr
