= form_for @vehicle do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, "error")} #{t('.error_message')}"
      %ul
        - @vehicle.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :registration_number
    = f.text_field :registration_number
  .field
    = f.label :make
    = f.text_field :make
  .field
    = f.label :model
    = f.text_field :model
  .field
    = f.label :colour
    = f.text_field :colour
  .actions
    = f.submit t('.submit')
