= form_for @vehicle, :html => { :id => "new_vehicle_form" } do |f|
  - if @vehicle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vehicle.errors.count, t('.error'))} #{t('.error_message')}"
      %ul
        - @vehicle.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label :registration_number
    = f.text_field :registration_number, class: "form-control"
  .field.form-group
    = f.label :make
    = f.text_field :make, class: "form-control"
  .field.form-group
    = f.label :model
    = f.text_field :model, class: "form-control"
  .field.form-group
    = f.label :colour
    = f.text_field :colour, class: "form-control"
  .actions
    = f.submit t('.submit'), class: "btn btn-default"
