%p
  %b= t('.reg_number')
  = @vehicle.registration_number
%p
  %b= t('.make')
  = @vehicle.make
%p
  %b= t('.model')
  = @vehicle.model
%p
  %b= t('.colour')
  = @vehicle.colour

= link_to t('.edit'), edit_vehicle_path(@vehicle)
\|
= link_to t('.back'), vehicles_path
