%p
  %b= t('.reg_number')
  = @vehicle.registration_number
%p
  %b= t('.make')
  = @vehicle.make
%p
  %b= t('.model')
  = @vehicle.model
%p
  %b= t('.colour')
  = @vehicle.colour

%h2= t('.bookings')
= render 'shared/bookings_list'

= link_to t('.edit'), edit_vehicle_path(@vehicle)
\|
= link_to t('.add'), vehicle_bookings_path(@vehicle)
\|
= link_to t('.back'), vehicles_path
