.fill-space

.container.fill-space
  .page-header
    %h1= "#{t('.title')} \"#{@vehicle.registration_number}\""

  .page-header
    %h3= t('.details')
    %p= t('.details_description')

  %b= t('.reg_number')
  %p= @vehicle.registration_number
  %b= t('.make')
  %p= @vehicle.make
  %b= t('.model')
  %p= @vehicle.model
  %b= t('.colour')
  %p= @vehicle.colour

  .page-header
    %h3= t('.bookings')
    %p= t('.bookings_description')
  = render 'shared/bookings_list'

  %hr
  = link_to t('.edit'), edit_vehicle_path(@vehicle)
  \|
  = link_to t('.add'), new_vehicle_booking_path(@vehicle)
  \|
  = link_to t('.back'), vehicles_path
  %br
  %br

.fill-space
